@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap'); 

body{
    font-family: 'Merriweather', serif; /* jogando a fonte para o corpo*/
    background-color: rgb(234, 80, 100);
}

.linha-form input{
    background-color: transparent;
    border:0;
    border-bottom: 2px white solid;
    display:block; /* alinhados em blocos*/
    width: 25%; /* tamanho da linha input*/
    padding: 15px; /* espaço dentro do elemento*/
}
button{
    cursor: pointer; /* maozinha no mouse*/ 
    background-color: red;
    padding: 15px; /* espaço dentro do elemento(tamanho)*/
    font-size: 16px;
    color: white;
    border: 0;
    border-radius: 10px; /* arrendonda o bloco*/
    margin-top: 10px;/* espaço fora do elemento*/
    font-family: 'Merriweather', serif;
}

button:hover{
    background-color: blueviolet; /* muda a cor do botao ao passar o mouse*/
}

button:active{
    transform: scale(0.9); /* botao aumenta ou diminui ao clicar*/
}