@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Mulish:wght@800&family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
}

.conteudo {
    padding: 15% 0%;
    font-family: 'Krona One';
    text-align: center;
}

input {
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 5px;
    width: 150px;
}

button {
    padding: 10px;
    width: 170px;
    font-family: 'Krona One';
    color: #240046;
    border: 2px solid #240046;
}

.conteudo-materia {
    font-size: 36px;
}

.mensagem-sucesso {
    font-size: 16px;
    background-color: #a7c957;
    color: #386641;
}

.mensagem-incorreta {
    font-size: 16px;
    background-color: #f28482;
    color: #d90429;
}