
img {
    width: 15%;
    float: left;
}

input{
    border-radius: 5px;
    width: 200px;
}

.invalida{
    border: 2px red solid;
}

.mensagem-sucesso{
    background-color: gray;
    color: green;
}
.mensagem-erro{
    background-color: rosybrown;
    color: red;
}

